/*Regulisan lep raspored slika za prikaz apartmana */
.columnS {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Da blinke slika kada se na nju stavi kursor */
.columnS img {
  opacity: 0.8; 
  cursor: pointer; 
}

.containerPicture{
	margin-left: auto;
	margin-right: auto;  
	width: 70%;		

}


/* ta slika na kojoj je kursor da bude u punoj boji */
.columnS img:hover {
  opacity: 1;
}



#slike {
	  width: 60%;
	  vertical-align:top;	
}

#info {
	  width: 40%;
	  vertical-align:top;		
}

#apartmanInfo{
	font-size:23;
}





